@import '../../../shared/components/Global.css';

.bg-for-login-page {
    background-image: url('../../../assets/images/background.png');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    /* background-position: center; */
}

.login-form {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    margin: 10rem auto;
    text-align: center;
    overflow: hidden;
    background: transparent;
    backdrop-filter: blur(100px);
}

.login-form form {
    margin: 1rem;
}

.checkbox-remember {
    margin: 1rem;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.checkbox-remember h6 {
    font-family: var(--nunito-font);
    font-size: 1rem;
}

.checkbox-remember a {
    color: blue;
    font-size: 1rem;
    text-decoration: none;
    font-family: var(--nunito-font);
}

.checkbox-remember a:visited {
    color: blue;
}

.checkbox-remember a:hover {
    text-decoration: underline;
}

.button-div-login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.signup-login-form-btn {
    padding: 1.15rem 2.2rem;
}

@media (max-width: 768px) {

    .login-form {
        margin: 10rem auto;
        padding: 3rem 0 3rem 0;
        border-radius: 2rem;
    }

    /* .bg-for-login-page {
        width: 100vw;
        height: 100vh;
        background-size: 100% 100%;
    } */
}

/* @media (max-width: 1000px) {
    .bg-for-login-page {
        width: 100vw;
        height: 100vh;
        background-size: 100% 100%;
    }
}

@media (max-width: 1350px) {
    .bg-for-login-page {
        width: 100vw;
        height: 100vh;
        background-size: 100% 100%;
    }
} */

