@import '../../../shared/components/Global.css';

.regist-complete-bg {
    width: 100vw;
    height: 100vh;
}

.regist-container {
    font-family: var(--inter-font);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 55vh;
    text-align: center;
    padding: 20px;
    background-color: rgb(211, 211, 211);
    border-radius: 5rem;
    background-color: #ccc;
    margin: 10rem auto;
}

.regist-container h1 {
    padding: 8px;
}

.regist-container p {
    font-size: 18px;
}

.regist-container a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
}

.regist-container a:visited {
    color: blue;
}

.regist-container a:hover {
    color: blue;
    text-decoration: underline;
}