@import '../../shared//components/Global.css';

.profile-card__dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--inter-font);
}

.profile-image-container {
    margin: 1rem;
    width: 10rem;
    height: 10rem;
}

.profile-name-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    width: 325px;
    height: 100px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 5px 6px;
    backdrop-filter: blur(20);
    border-radius: 1rem;
}

.profile-name-span {
    width: auto;
    height: auto;
    text-align: center;
    font-size: 1.25rem;
}

.profile-info-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.profile-details-container {
    display: inline-flex;
    justify-content: space-evenly;
    gap: 1rem;
    font-size: 1.25rem;
    margin: 0.1rem 1.5rem 1.5rem 1.5rem;
    padding: 5px;
}

.age-profile {
    text-align: center;
    background-color: azure;
    font-size: 1rem;
    padding: 0.55rem 1.5rem 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0 3px 4px;
}

.height-profile {
    text-align: center;
    background-color: azure;
    font-size: 1rem;
    padding: 0.55rem 1.15rem 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0 3px 4px;
}

.weight-profile {
    text-align: center;
    font-size: 1rem;
    background-color: azure;
    padding: 0.55rem 1.15rem 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0 3px 4px;
}

.age-number {
    font-size: 2rem;
    padding-top: 1rem; 
}

.weight-number {
    font-size: 2rem;
    padding-top: 1rem; 
}

.height-number {
    font-size: 2rem;
    padding-top: 1rem; 
}

/* edit profile button styles */
.edit-profile-container {
    padding: 5px;
    margin-top: 6rem;
}

.edit-profile-btn {
    background-color: rgb(106, 0, 206);
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.55) 0 3px 4px;
    padding: 20px;
}

.edit-profile-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 5px 7px;
    color: black;
    background-color: beige;
}

.edit-profile-icon {
    margin-right: 10px;
}

.edit-profile-btn > div {
    display: flex;
    align-items: center;
}

@media (max-width: 1380px) {
    .profile-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile-name-header {
        width: 305px;

    }

    .profile-details-container {
        display: flex;
    }
}