/* @import '../Global.css'; */

body {
  background-image: url("https://cdn.discordapp.com/attachments/1082855767092232295/1098828923762135170/background.PNG");
  background-size: cover;
  background-position: center;
  height: 100%;
  overflow: hidden;
}  

.AddAct-bg {
    display: block;
    margin-top: 0em;
}

.AddAct-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    max-width: 600px;
    border: 1px solid #ccc;
    padding: 50px;
    border-radius: 10px;
    background-color: y;
    margin-top: 10rem;
}







/* .Header-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    max-width: 600px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.Head-field {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 100%;
  } */