@import '../components/Global.css';

.db-pages {
    display: flex;
    overflow-y: auto;
    min-height: 100vh;
}

.left-dashb-container {
    position: sticky;
    width: 30%;
    min-width: 300px;
    background-color: #f0f0f0;
    padding: 16px;
    margin: 100px 20px 30px;
}

.right-dashb-container {
    margin-top: 92.8px;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    height: auto;
    background: transparent;
    backdrop-filter: blur(100px);
    border-radius: 32px;
    border: solid 2px black;
    overflow: hidden;
}

.right-dashb-container::-webkit-scrollbar {
    display: none;
}

.header-right-section-dashb {
    display: flex;
    justify-content: space-between;
    padding: 20px auto;
    margin: 15px 10px 5px 15px;
}

.dash-word-header {
    font-family: var(--inter-font);
    margin-top: 6px;
    margin-left: 6px;
}

.add-btn-dashb {
    margin-top: 6px;
}

.add-btn-dashb:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 2px 5px;
    transform: translateY(-2px);
}

@media (max-width: 768px) {

    .right-dashb-container {
        width: 70%;
        padding-right: 2rem;
    }

    .header-right-section-dashb {
        padding: auto;
    }

    .dash-word-header {
        font-size: 14px;
    }

    .left-dashb-container {
        width: 30%;
        top: 5rem;
        margin-left: 1.55rem;
    }
}

@media (max-width: 680px) {
    .db-pages {
        display: block;
    }

    .right-dashb-container {
        display: block;
        width: 90%;
        margin: 2.125rem 0 2.25rem 1.55rem;
    }

    .header-right-section-dashb {
        padding: auto;
    }

    .dash-word-header {
        font-size: 14px;
    }

    .left-dashb-container {
        display: flex;
        width: 90%;
        height: 40%;
        margin: 5.125rem 1rem 0.25rem 1.55rem;
        justify-content: center;
    }
}