    @import '../../shared/components/Global.css';

    .EditBackground {
        background-color: #F3BD18;
        place-items: center;
        border: 1px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        margin: 10px 80px;
    }

    /* .Header{
        text-align: center;
        padding-top: 39px;
    }

    .AddAct {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
    }

    .ActType {
        padding-top: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
    } */

    .Icon-activitycard {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 70px ;
        padding: 18px;
    }

    .Icon-activitycard > img {
        transform: scale(0.4);
    }

    .ActivityInput-ParentGroup {
        display: flex;
        justify-content: center;
        gap: 350px;
        
    }

    .ActivityInput-group1 {
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
    }

    .gc1 {
        flex-direction: row;  
    }


    .ActivityInput-group2{
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-right: 50px;
    }


    #actinput0{
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 50px;
        box-sizing: border-box;
        margin-bottom: 13px;
    }

    #actinput{
        margin-bottom: 13px;
        width: 220px;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 50px;
        box-sizing: border-box;
    }

    #actinput1{
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 50px;
        box-sizing: border-box;
        margin-bottom: 13px;
        
    }

    .gapact{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 13px;
    }

    .gaptime {
        padding-right: 75px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        flex-direction: row;
    }


    /* .ActivityInput-group3{
        display: flex;
        justify-content: space-evenly;
        gap: 270px;
        padding-bottom: 40px;
    } */


    #distance {
        width: 30%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 50px;
        box-sizing: border-box;
    }

    #submit {
        background: linear-gradient(180deg, #066C6B 99.99%, #3B32C0 100%);
        border-radius: 40px;
        
        color: #F3BD18;
        width: 381px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
    }

    @media (max-width: 768px) {
        
        .main-header {
            position: fixed;
        }
        
        
        .EditBackground {
            background-color: #F3BD18;
            box-sizing: border-box;
            place-items: center;
            border: 1px solid #000000;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            width:400px;
            margin-top: 125px;
            margin-bottom: 62px;
            margin-left: 7px;
            margin-right: 7px;
        }
    
        
        .Icon-activitycard {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 25px ;
            padding: 20px;
        }

        .Icon-activitycard > img {
            width: 45px;
        }

        .ActivityInput-ParentGroup {
            display: flex;
            justify-content: center;
            gap: 32px;
            
        }

        #Label-Activity-Detail{
            font-size: 19px;
            padding-bottom: 5px;
        }

        .ActivityInput-group3{
            gap: 20px;           
        }

        #submit {
            width: 151px;
        }

        #distance{
            width: 193px;
            padding: 12px 30px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 50px;
            box-sizing: border-box;
        }
    }