@import "../Global.css";

.card-layout {
    position: relative;
    place-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 32px;
    padding: 30px;
    overflow: hidden;
    background: #D2D2D2;
}

.card-layout-default {
    place-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 32px;
    padding: 20px;
    background-color: rgba(243, 189, 24, 0.8);
    backdrop-filter: blur(100%);
    font-family: var(--nunito-font);
}

.card-layout-default:hover {
    transform: scale(1.1);
    background-color: rgba(243, 189, 24);
    box-shadow:0 0 5px 7px var(--red);
}

.card-layout-success {
    position: relative;
    place-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 32px;
    background: #68df5f;
    backdrop-filter: blur(70%);
    font-family: var(--nunito-font);
}

.card-layout-success:hover {
    transform: scale(1.1);
    background-color: rgb(89, 196, 81);
    box-shadow: 0 0 5px 7px var(--red);
}

.card-layout-cancel {
    position: relative;
    place-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 32px;
    background: #9d9d9d;
    backdrop-filter: blur(70%);
    font-family: var(--nunito-font);
}

.card-layout-cancel:hover {
    transform: scale(1.1);
    background-color: rgb(125, 121, 121);
    color: white;
    box-shadow: 0 0 5px 7px var(--red);
}