@import "../Global.css";

.card-layout {
    position: relative;
    place-content: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
    padding: 3rem;
    overflow: hidden;
    background: #D2D2D2;
}